.card-java {
	margin: 10px 0;
	min-height: auto;
}
.card-java > .title {
	display: flex;
	padding: 10px 15px;
	border-bottom: 1px #bbb solid;
}
.card-java > div > h6 {
	font-weight: bold;
	flex: auto;
}
.card-java > pre {
	box-sizing: border-box;
	padding: 10px 20px;
	white-space: pre-wrap;
	tab-size: 4;
	transition-duration: .5s;
	transition-property: height, margin, padding;
	overflow: hidden;
}
.card-java > .mdl-textfield {
	margin: 0 auto;
}
#sql-code-box {
	display: none;
	transition: opacity 0.2s;
	opacity: 0;
	height: 0;
}
i.material-icons {
	position: relative;
	top: 0.2em;
	font-size: 1.4em;
}
pre i.material-icons {
	font-style: italic;
}
button i.material-icons {
	position: static;
}

#progress, #btn-download-all {
	transition: .5s opacity;
}